@using Microsoft.AspNetCore.Identity
@using OutOfOffice.Application.LeaveRequest

@inject UserManager<IdentityUser> UserManager
@model List<GetLeaveRequestDto>


@{
    ViewData["Title"] = "Leave requests";
}

<div class="container col-xl-12 col-xxl-12">
    <div class="row align-items-center">
        <div class="col-12 table-container p-3 rounded-2 mb-4">
            <h3 class="text-center mb-3">Leave requests</h3>
            <form asp-action="Index" method="get">
                <div>
                    @if (User.IsInRole("Employee") || User.IsInRole("HR Manager") || User.IsInRole("Project Manager"))
                    {
                        <div class="mb-2">
                            <a class="link mb-3" asp-controller="LeaveRequest" asp-action="Create">Create leave request</a>
                        </div>
                    }
                    <div class="d-flex align-items-center mb-3">
                        Find by Employee:
                        <input class="mx-1" type="text" name="SearchPhrase" value="@ViewData["CurrentSearchPhrase"]" />
                        <button id="filterSubmit" type="submit" class="btn btn-secondary me-1">Filter</button> |
                        <a class="link mx-1" asp-action="Index">Back to Full List</a>
                        <input type="hidden" name="SortOrder" value="@ViewData["CurrentSortOrder"]" />
                    </div>
                </div>
            </form>
            @if (Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-borderless mb-0 table-balance">
                        <tbody>
                            <tr>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]" asp-route-searchPhrase="@ViewData["CurrentSearchPhrase"]">Id</a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EmployeeSortParam"]" asp-route-searchPhrase="@ViewData["CurrentSearchPhrase"]">Employee</a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AbsenceReasonSortParam"]" asp-route-searchPhrase="@ViewData["CurrentSearchPhrase"]">Absence reason</a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParam"]" asp-route-searchPhrase="@ViewData["CurrentSearchPhrase"]">Start date</a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParam"]" asp-route-searchPhrase="@ViewData["CurrentSearchPhrase"]">End date</a>
                                </th>
                                <th>
                                    Comment
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParam"]" asp-route-searchPhrase="@ViewData["CurrentSearchPhrase"]">Status</a>
                                </th>
                                <th>Edit</th>
                                <th>Submit</th>
                            </tr>
                            @foreach (var leaveRequest in Model)
                            {
                                <tr class="border-bottom">
                                    <td>
                                        @leaveRequest.Id
                                    </td>
                                    <td>
                                        @leaveRequest.Employee
                                    </td>
                                    <td>
                                        @leaveRequest.AbsenceReason
                                    </td>
                                    <td>
                                        @leaveRequest.StartDate
                                    </td>
                                    <td>
                                        @leaveRequest.EndDate
                                    </td>
                                    <td>
                                        @leaveRequest.Comment
                                    </td>
                                    <td>
                                        @leaveRequest.Status
                                    </td>
                                    @if (leaveRequest.EmployeeEmail == User.Identity?.Name || User.IsInRole("Administrator"))
                                    {
                                    <td>
                                            @if (leaveRequest.Status != "Approved" && leaveRequest.Status != "Rejected")
                                            {
                                                <a class="bi bi-pencil mx-1" asp-controller="LeaveRequest" asp-action="Edit" asp-route-id="@leaveRequest.Id"></a>
                                            }
                                    </td>
                                        <td>
                                            @if (leaveRequest.Status == "New" || leaveRequest.Status == "Cancelled")
                                            {
                                                <form class="icon-form" asp-controller="LeaveRequest" asp-action="Submit" asp-route-id="@leaveRequest.Id" method="post">
                                                    <button type="submit">Submit</button>
                                                </form>
                                                
                                            }
                                            else if (leaveRequest.Status == "Submitted")
                                            {
                                                <form class="icon-form" asp-controller="LeaveRequest" asp-action="Cancel" asp-route-id="@leaveRequest.Id" method="post">
                                                    <button type="submit">Cancel</button>
                                                </form>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p class="text-center">No leave requests to show.</p>
            }
        </div>
    </div>
</div>